body {
    position: relative;

    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(250,209,58,1) 27%, rgba(251,166,66,1) 76%);

    overflow: hidden;
}

.main {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    place-items: center;
}

.form {
    width: 30%;
    height: 70%;

    border-radius: 15px;

    background-color: #fff;

    grid-area: 1 / 1;

    box-shadow: 0 0 14px #000;

    
    
}

.form > .container {
    height: auto;
    width: 100%;

    margin: 40px 10px 40px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.form > .container > .title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
}

.form > .container > .subtitle {
    text-align: center;
    font-size: 24px;
    color: grey;
}

.form > .container > .input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.form > .container > .input > .header {
    margin: 0 10% 0 10%;
    align-self: flex-start;
}
.form > .container > .input > input {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: 0;

    font-size: 24px;
    text-align: center;

    box-shadow: 0 0 3px black;
}
.form > .container > a.button {
    width: 80%;
    height: 40px;
    
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #fff;

    background: #c3c3c3;

    border-radius: 20px;

    transition: all 0.3s ease;

    cursor: pointer;
}
.form > .container > a.button:hover {
    background-color: #582a00;
}

.last {
    margin-top: auto;
}

#base-f {
    display: flex;
}

#login-f {
    display: none;
}

#reg-f {
    display: none;
}

.montserrat-400 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .montserrat-600 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .montserrat-700 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .montserrat-800 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }